.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  background-color: var(--light-blue);
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  font-weight: bold;
}

.navbar strong {
  font-size: larger;
}

@media screen and (max-width: 576px) {
  .navbar{
    font-size: small;
  }
}
